name: Test

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

env:
  MIX_ENV: test
  PGHOST: localhost
  PGPORT: 5432
  PGUSER: postgres
  PGPASSWORD: postgres

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: postgres:18.1-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: social_scribe_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10ms
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.17"
          otp-version: "27"
          version-type: strict

      - name: Cache mix deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
                            ${{ runner.os }}-mix-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-

      - name: Cache build
        id: cache-build
        uses: actions/cache@v4
        with:
          path: |
            _build
            !_build/test/lib/social_scribe/obj
          key: ${{ runner.os }}-build-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ hashFiles('**/mix.exs') }}
          restore-keys: |
                            ${{ runner.os }}-build-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Compile dependencies
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: mix deps.compile

      - name: Check formatting
        run: mix format --check-formatted

      - name: Compile project (check for warnings)
        run: mix compile --warnings-as-errors

      - name: Run tests
        run: mix test --max-cases 4 --cover
